/* TABLE OF CONTENTS 
====================== 
1. Color Palette
2. Typography
3. Section Styling
 - Introduction
 - What is CAPT
 - Contact
4. Components
 - Buttons
 - Navbar 
 ==================== */


/* 1. Color palette */

:root {
	--light-maroon: #964262;
	--berry: #7c133b;
	--plum: #630f2f;
	--sun-yellow: #fed333;
	--marigold: #fec900;
	--marigold-two: #fdc300;
	--pinkish-grey: #cbcbcb;
	--white: #fefefe;
	--white-two: #fefefe;
	--dark-grey: #262626;
}

/* 2. Typography */

body {
	font-family: Lato;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #f7f7f7;
}

header .header-content .header-content-inner h1 {
	font-family: Lato;
	font-size: 6rem;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	text-transform: none;
}

h2 {
	font-family: Lato;
	font-size: 3rem;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
}


h3 {
	font-family: Lato;
	font-size: 2.25rem;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
}

h4 {
	font-family: Lato;
	font-size: 2rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffffff;
}


/* 3. SECTION STYLING 
 Introduction
========================== */

header .header-content {
    padding: 100px 15px;
}
header, header .header-content {
    width: 100%;
    text-align: center;
}

header {
	background: 
		/*linear-gradient(
			rgba(150, 66, 98, 0.5), 
			rgba(150, 66, 98, 0.5)
			), */
		url('../img/cover.jpg');
	background-size: cover;
}


.bg-primary {
	background-color: var(--berry) !important;
	background-size: cover;
}


/* CONTACT 
========================= */
#contact {
	background-color: var(--dark-grey);
	margin-top: -1.5em;
}

#contact img {
	margin: 1em;
}

/* PORTFOLIO / WHAT IS CAPT 
=========================== */

#portfolio, #video {
	background-color: var(--berry);
}

.portfolio-box .portfolio-box-caption {
	background-color: rgba(254, 211, 50, 0.8);
}

.project-category {
	font-family: Lato !important;
	font-size: 1.75rem !important;
	text-transform: none !important;
	font-weight: normal !important;
	
}

.project-name {
	font-family: Lato !important;
	font-size: 1.5rem !important; 
	text-transform: none !important;
}


/* 4. COMPONENTS 
============================= */

.btn {
	background-color: var(--marigold);
	border: 0;
	border-radius: 0px;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: none;
	color: var(--white);
}

/* Navbar */
.navbar-brand {
	color: var(--white) !important;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: var(--marigold-two) !important;
    background-color: transparent;
    border-bottom: 2px solid white;
}

@media (min-width: 768px) {

.navbar-default.affix .nav>li>a {
	color: var(--white-two);
}

.navbar-default {
	font-family: Lato !important;
	font-weight: 100 !important;
	background-color: var(--dark-grey) !important;
}

}

section {
	padding-bottom: 30px;
	padding-top: 30px;
}

table {
	width: 100%;
}

table > tbody > tr > td {
	border-top: 0px !important;
}

